<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>一行掲示板</title>
    <style>
      * {
        box-sizing: border-box;
      }
      html {
        font-size: 14px;
      }
      article {
        margin: 0 auto;
        width: 100%;
        max-width: 700px;
      }
      .message-form form input, form button {
        padding: 0.375rem 0.75rem;
      }
      .message-form form input {
        width: 80%;
      }
      .message-form .errors {
        color: red;
        font-weight: bold;
      }
      .messages-list ul {
        padding: 0;
        list-style-type: none;
      }
      .messages-list ul li {
        padding: 0.75rem;
        border-top: 1px solid #434857;
      }
      .messages-list ul li:last-child {
        border-bottom: 1px solid #434857;
      }
      .messages-list ul li .command-red {
        color: #c93a40;
      }
      .messages-list ul li .command-green {
        color: #56a764;
      }
      .messages-list ul li .command-blue {
        color: #0074bf;
      }
    </style>
  </head>
  <body>
    <article>
      <h1>一行掲示板</h1>
      <section class="message-form">
        <form action="/" method="POST" th:object="${messageForm}">
          <div th:if="${#fields.hasErrors('message')}" class="errors" th:errors="*{message}" />
          <input type="text" name="message" placeholder="メッセージを入力" th:value="*{message}">
          <button type="submit">投稿</button>
        </form>
      </section>
      <section class="messages-list">
        <ul>
          <li th:each="message: ${messages}" th:object="${message}">
            <th:block th:switch="*{command}">
              <span th:case="'#red'" class="command-red" th:text="${message.message}" />
              <span th:case="'#green'" class="command-green" th:text="${message.message}" />
              <span th:case="'#blue'" class="command-blue" th:text="${message.message}" />
              <span th:case="*" th:text="${message.message}" />
            </th:block>
          </li>
        </ul>
    </article>
  </body>
</html>
